.title {
  font-size: 1.5rem;
}

.logo {
  inset-inline-start: 10px;
}

:global(.left).stickyNav {
  position: sticky;
  top: 4rem;
  height: fit-content;
  z-index: 150;
}

.drawerNav a,
.drawerNav button {
  align-self: stretch;
  justify-content: flex-start;
}

.drawerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.drawer {
  z-index: 250;
}

.globalHeader {
  position: sticky;
  top: 0;
  z-index: 200;
  margin-top: 0px;
}

.globalFooter {
  position: sticky;
  bottom: 0;
  z-index: 200;
}
