.title {
  font-size: 1.5rem;
}

.drawerMenu {
  display: none;
}

.drawerMenu.open {
  display: block;
}

.scrollContainer {
  overflow-y: auto;
  flex: 1;
  min-block-size: 0;
}

.stickyNav {
  position: sticky;
  inset-block-start: 100px;
}
