.projectHeader {
  display: flex;
  gap: var(--spacing-medium);
}

.metadata {
  align-self: flex-start;
}

.tagList,
.memberList {
  white-space: nowrap;
  display: inline-flex;
}

.tagList ul,
.memberList nav {
  flex-wrap: wrap;
  color: inherit;
}

.memberList button,
.tagList button {
  color: inherit;
}

.memberListNav {
  display: inline-flex;
  gap: 0;
}

.mainImage {
  max-width: min(500px, 25%);
  align-self: flex-start;
}

.stepItem {
  padding: 8px;
  text-wrap: wrap;
  white-space: break-spaces !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.stepHeadline {
  font-size: 1.05rem;
}

.stepAttachments {
  width: calc(100% + var(--_margin) + var(--_padding)) !important;
}

.stepAttachments :global(.chip) {
  color: inherit;
}

.attachmentRow {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: calc(-1 * var(--_padding) - var(--_margin)) !important;
}

.deleteEditContainer {
  align-self: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.deleteButton {
  background-color: red;
}

.attachmentImage {
  max-width: 250px;
}

@media only screen and ((--custom-media-medium) or (--custom-media-small)) {
  .projectHeader {
    flex-direction: column;
  }

  .mainImage {
    order: 50;
    max-width: none;
    width: 100%;
    justify-self: stretch;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .metadata {
    order: 100;
  }
}
