.projectHeader {
  display: flex;
  gap: 16px;
}

.metadata {
  align-self: flex-start;
}

.tagList,
.memberList {
  white-space: nowrap;
}

.tagList ul,
.memberList nav {
  flex-wrap: wrap;
  color: inherit;
}

.memberList button,
.tagList button {
  color: inherit;
}

@media only screen and (max-device-width: 992px) {
  .projectHeader {
    flex-direction: column;
  }
}

.memberListNav {
  display: inline-flex;
  gap: 0;
}

.mainImage {
  max-width: min(500px, 25%);
  align-self: flex-start;
}

.stepItem {
  padding: 8px 0;
  text-wrap: wrap;
}

.stepHeadline {
  font-size: 1.25rem;
}

.attachmentRow {
  list-style: none;
  padding: 0;
  margin: 0;
}

.deleteEditContainer {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.deleteButton {
  background-color: red;
}

.attachmentImage {
  max-width: 250px;
}
