.verticalForm {
  display: flex;
  flex-direction: column;
}

.imagePreview {
  max-width: 120px;
}

.existingImage {
  width: min-content;
  position: relative;
}

.existingImage label,
.existingLink label {
  position: absolute;
  top: -10px;
  right: -15px;
}

.existingImage:has(input[type="checkbox"]:checked) img,
.existingLink:has(input[type="checkbox"]:checked) .existingLinkFields {
  opacity: 0.25;
}

.existingLink:has(input[type="checkbox"]:checked) {
  border-color: rgb(from var(--outline) r g b / 0.25);
}

.existingLink {
  position: relative;
  margin-bottom: var(--spacing-medium);
}

.existingLinkFields {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-small);
  align-items: flex-start;
}

.existingLink :global(.field) {
  margin: 0;
}