.buttonRow {
  display: flex;
  gap: var(--spacing-small);
  align-items: center;
}

.imagePreview {
  max-width: 120px;
}

.actualFileInput {
  opacity: 0.5;
  pointer-events: none;
}

.imagePreviewsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-small);
}

.deleteImageButtonContainer {
  position: relative;
  width: fit-content;
  max-width: 120px;
}

.deleteImageButton {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -15px;
  z-index: 2;
  aspect-ratio: 1;
}
