[Unit]
Description=Wissenslandkarte in docker
Requires=docker.service
After=docker.service

[Service]
User=...
WorkingDirectory=...
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitInterval=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target

