.userHeader {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas: "image username" "image date" "image projects" "contact contact";
  align-items: flex-start;
  justify-content: flex-start;
  white-space: wrap;
  gap: 0 var(--spacing-medium);
}

.sendMessage {
  grid-area: contact;
}

.userImage {
  grid-area: image;
}

.username {
  grid-area: username;
  word-break: break-all;
}

.projectsCounter {
  grid-area: projects;
  margin-top: 0;
}

.registrationDate {
  grid-area: date;
  margin: 0;
}

.projectsCounter i,
.registrationDate i {
  margin-right: var(--spacing-small);
}
